################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/SwagLabsWithSpecFlow/FileContentIndex/fb3dce58-9b31-4f1c-bf85-bc7f2d325988.vsidx
/.vs/SwagLabsWithSpecFlow/v17/.suo
